{% block content %}
<div>
    <form id="fave_book_search_form" method="post" action="{% url 'bookguise:fave_book_search' %}">
        {% csrf_token %}
        <input type="text" size="50" name="title_input" value="" id="title_input" />
        <input type="submit" value="Search" name="submit" />
        <br />
    </form>
</div>
{% if fave_result %}
<div>
    <div>
        <div class="fave-book">
            <div>
                <div>
                    <a href="{{fave_result.gr_link}}" target="_blank">
                        <img src="{{fave_result.cover}}" alt="Favorite Book Cover"></a>
                </div>
                <div>
                    <div>
                        <a href="{{fave_result.gr_link}}" target="_blank">
                            <h4>{{fave_result.title}}</h4>
                        </a>
                        <h5>{{fave_result.author}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if suggested_books %}
<h2>Results</h2>
<div class="mystery-books grid">
    {% for book in suggested_books %}
    <div class="wrapper card column">
        <div class="wrapper centered book-bg">
            <img class="book-img centered" src="../../static/img/mask1.png" alt="Mask for the mysterious book">
        </div>
        <div class="wrapper column">
            <h4>Published in {{book.publication_year}}</h4>
            {% comment %} {% if len(book.lt_haiku_summaries) > 0 %} {% endcomment %}
            <h4>Haiku Summaries:</h4>
            {% for haiku in book.lt_haiku_summaries %}
            <p>{{haiku}}</p>
            {% endfor %}
            {% comment %} {% endif %} {% endcomment %}
            <p>
                {% for keyword in book.keywords %}
                {{keyword}},
                {% endfor %}
            </p>
        </div>

    </div>
    {% endfor %}
</div>
{% endif %}


{% endblock %}