{% block content %}
<div>
    <form id="fave_book_search_form" method="post" action="{% url 'bookguise:fave_book_search' %}">
        {% csrf_token %}
        <input type="text" size="50" name="title_input" value="" id="title_input" />
        <input type="submit" value="Search" name="submit" />
        <br />
    </form>
</div>
{% if fave_result %}
<div>
    <ul>
        <li>{{fave_result.gr_id}}</li>
        <li>{{fave_result.title}}</li>
    </ul>
</div>
<div>
    {% if suggested_books %}
    <h2>Results</h2>
    {% for book in suggested_books %}
    <div>
        <p>Published in: {{book.publication_year}}</p>
        <a href="{{book.gr_link}}">Don't click this link unless you want to ruin your suprise.</a>
        <h4>Keywords:</h4>
        <ul>
            {% for keyword in book.keywords %}
            <li>{{keyword}}</li>
            {% endfor %}
        </ul>
        <h4>Haiku Summaries:</h4>
        <ul>
            {% for haiku in book.lt_haiku_summaries %}
            <li>{{haiku}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

    {% endif %}
</div>
{% endif %}
{% endblock %}